@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
 background-image:url('../images/rockband.jpg');
}
header {
    text-align: center;
    margin:0;
    padding:0px;
    padding-bottom:30px;
    background-image: url('../images/mainbackground.webp');
    background-size:contain;
    color:rgb(255, 255, 255);
}

#cart{
    position: fixed;
    height: 95%;
}
header h1{
    font-family:"Metal Mania";
    padding:40px;
    font-size:100px;
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}


header ul{
    display:flex;
    padding:10px;
    font-size:18px;
    font-weight:200;
    justify-content: center;
    list-style-type: none;
    border-bottom:0.1rem solid white;
    position: fixed;
    top: 0%;
    background: black;
    width: 100%;
    z-index: 1;
}
header li{
    margin:0px 40px;
}
header li a{
    text-decoration: none;
    color:white;
}
header h6{
    padding:10px;
    font-size:20px;
    font-weight: normal;;
    border-bottom: 0.1rem solid white;
}
header h6 a {
    text-decoration: none;
    color:white;
}
header .latest-album{
    display:block;
    border:1px solid #ffffff;
    padding:15px 30px;
    font-size:23px;
    font-weight: 200;
    margin:10px auto;
    background: inherit;
    cursor: pointer;
    color:white;
}
header .play-btn{
    cursor: pointer;
    display:block;
    border:2px solid #ffffff;
    border-radius:50%;
    padding:20px;
    font-size:30px;
    font-weight: 200;
    margin:20px auto;
    background: inherit;
    color:#ffffff;
}


#tours .tour-item{
    display:flex;
    border-bottom:1px solid black;
    padding:10px;
}
#tours .tour-item .tour-date{
    width:12%;
}
#tours .tour-item .tour-place{
    width:25%;
    color:#777;
}
#tours .tour-item .tour-spec-place{
    width:53%;
    color:#777;
}
#tours .tour-item .buy-btn{
    width:20%;
    background: #56CCF2;
    color:white;
    border:none;
    padding:7px;
    border-radius:5px;
    font-weight:700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tours .tour-item .buy-btn:hover{
    background: #0e26df;
}

section h2{
    font-family:"Metal Mania";
    text-align:center;
    padding:20px;
    font-size:30px;
    color: green;
}
.container{
    max-width:900px;
    margin:0 auto;
    padding:20px 30px;
}

footer{
    display:flex;
    margin-top:40px;
    padding:20px;
    background: #000000;
}
footer .footer-title{
    font-family:"Metal Mania";
    text-align: center;
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    width:50%;
    font-size:50px;
    font-weight:bold;
    margin:0 auto;
}
footer .footer-icons{
    width:50%;
    display:flex;
    align-items:center;
    justify-content: space-around;
}
.footer-icons ul{
    list-style-type: none;
    display:flex;
}
.footer-icons li{
    padding:10px;
    margin:0px 20px;
}
.footer-icons li:hover{
    background:rgb(17, 206, 206);
}
.footer-icons img{
    width:30px;
}
